<ion-view title="Spot Detail">
  <ion-nav-buttons side="right">
    <button ng-click="deleteSpot();" class="button button-icon icon ion-trash-a"></button>
    <button ng-click="cameraModal()" class="button button-icon icon ion-camera"></button>
    <button ng-click="goToSpot();" class="button button-icon icon ion-eye"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">


		<div class="main">
			<article class="paper" >
				<section class="guidance">
					<p>Add querystring to source of XForm, eg:</p>
					<ul>
						<li><a href="?xform=http://ona.io/enketo/forms/9794/form.xml">?xform=http://ona.io/enketo/forms/9794/form.xml</a></li>
					</ul>
				</section>
				<header class="form-header clearfix">
					<span class="form-language-selector"><span>Choose Language</span></span>
				</header>

				<!-- this is where the form will go -->

        






				<div class="form-footer">
						<!--
						Used some quick-and-dirty inline CSS styles here because the form-footer should be styled in the
						mother application
						-->
						<a href="#" class="previous-page disabled" style="position:absolute; left: 10px; bottom: 40px;">Back</a>
						<button id="validate-form" class="btn btn-primary" style="width:200px; margin-left: calc(50% - 100px);">Validate</button>
      					<a href="#" class="btn btn-primary next-page disabled" style="width: 200px; margin-left: calc(50% - 100px)">Next</a>

      				<div class="enketo-power" style="margin-bottom: 30px;">Powered by <a href="http://enketo.org" title="enketo.org website"><img src="https://enketo.org/images/enketo_bare_100x37.png" alt="enketo logo" /></a> </div>

    				<a href="#" class="btn btn-default disabled first-page" style="width: 49.7%; border-radius: 0;">Return to Beginning</a>
    				<a href="#" class="btn btn-default disabled last-page" style="width: 49.7%; border-radius: 0;">Go to End</a>
    			</div>

			</article>
		</div>








  </ion-content>
</ion-view>
